<div class="profile col-xs-10 col-xs-offset-1">

<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<!-- <div class="title">
  <%= t("forem.post.new") %>
  <% if @reply_to_post %>
    <%= render 'reply_to_post', :post => @reply_to_post %>
  <% else %>
    <em><%= @topic.subject %></em>
  <% end %>
</div>
 -->
<%= simple_form_for [forem, @topic.forum, @topic, @post], html: { class: 'form-horizontal' } do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply"), :class => "button pull-right" %>
<%= forem_back_button(@topic.forum) %>
<% end %>
</div>