<%= form_for @job do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.hidden_field :member_id %>
	<div class="col-md-10 col-md-offset-1 col-xs-12 profile">
		<div class="row">
			<div class="col-xs-12" style="margin-bottom: 20px;">
				<div class="col-sm-2 col-xs-3">
					<span class="glyphicon glyphicon-pencil"></span>
					<%= f.label 'Title' %>
				</div>
				<div class="col-sm-10 col-xs-9">
					<%= f.text_field :title, value: @job.title, placeholder: 'Software Engineer Summar Intern', autocomplete: :off, required: "required", class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="basicInfo" class="col-md-4 col-sm-5">
				<div class="detailTitle">Basic Info</div>
				<table id="info" class="content">
					<tr>
						<th>
							<span class="glyphicon glyphicon-briefcase"></span>
							<span>Company</span>
						</th>
						<td><%= f.text_field :company, value: @job.company, placeholder: 'Facebook', required: "required", class: "form-control" %></td>
					</tr>
					<tr>
						<th>
							<span class="glyphicon glyphicon-globe"></span>
							<span>Industry</span>
						</th>
						<td><%= f.text_field :industry, value: @job.industry, placeholder: 'Software', autocomplete: :off, required: "required", class: "form-control" %></td>
					</tr>
					<tr>
						<th>
							<span class="glyphicon glyphicon-list-alt"></span>
							<span>Job Type</span>
						</th>
						<td>	
							<%= f.select :job_type, [['Internship', 'Internship'], ['Part Time', 'Part Time'], ['Full Time', 'Full Time'], ['Temporary', 'Temporary']] %>
						</td>
					</tr>
					<tr>
						<th>
							<span class="glyphicon glyphicon-map-marker"></span>
							<span>Location</span>
						</th>
						<td><%= f.text_field :location, value: @job.location, placeholder: 'Menlo Park', autocomplete: :off, required: "required", class: "form-control" %></td>
					</tr>
					<tr>
						<th>
							<span class="glyphicon glyphicon-time"></span>
							<span>Start Date</span>
						</th>
						<td>
							<% start_date = @job.start_date.nil? ? '' : @job.start_date.strftime("%m/%d/%Y") %>
							<%= f.text_field :start_date, value: start_date, required: "required", class: 'datetimepicker form-control' %>
						</td>
					</tr>
					<tr>
						<th>
							<span class="glyphicon glyphicon-time"></span>
							<span>Deadline</span>
						</th>
						<td>
							<% deadline = @job.deadline.nil? ? '' : @job.deadline.strftime("%m/%d/%Y") %>
							<%= f.text_field :deadline, value: deadline, required: "required", class: 'datetimepicker form-control' %>
						</td>
					</tr>
					<tr>
						<th>
							<span class="glyphicon glyphicon-search"></span>
							<span>Hidden?</span>
						</th>
						<td><%= f.check_box :hidden, value: @job.hidden %></td>
					</tr>
				</table>
			</div>
			<div class="col-md-8 col-sm-7">
				<div class="detailTitle">
					<span class="glyphicon glyphicon-align-left"></span>
					<span>Description</span>
				</div>
				<div class="content">
					<%= f.text_area :description, placeholder: 'We\'re looking for bright and motivated recent graduates', value: @job.description, class: "form-control" %>
				</div>

				<div class="detailTitle">
					<span class="glyphicon glyphicon-align-left"></span>
					<span>Qualification</span>
				</div>
				<div class="content">
					<%= f.text_area :qualification, placeholder: 'B.S. in Computer Science, 3+ years with HTML/CSS', value: @job.qualification, class: "form-control" %>
				</div>

				<div class="detailTitle">
					<span class="glyphicon glyphicon-align-left"></span>
					<span>Compensation</span>
				</div>
				<div class="content">
					<%= f.text_area :compensation, placeholder: 'Paid internship, depending on experience', value: @job.compensation, class: "form-control" %>
				</div>
				<div class="detailTitle">
					<span class="glyphicon glyphicon-align-left"></span>
					<span>How To Apply</span>
				</div>
				<div class="content">
					<%= f.text_area :how_to_apply, placeholder: 'Send your resume to Sarah Mitchell: sara@fb.com', value: @job.how_to_apply, class: "form-control" %>
				</div>
			</div>
		</div>
		<div class="row">
			<%= back_button @job %>
			<% # Object is the filler text for submit button %>
			<%= f.submit object, class: 'button pull-right' %>
		</div>
	</div>
<% end %>