<div class="mainTitle"><%= t('forem.admin.area') %></div>
<!-- 
<div style="margin-bottom: 20px;">
  <%= t('forem.admin.welcome') %>
</div>
 -->
<div class="profile col-xs-6 col-xs-offset-3">
	<ul>
	  <li class="mainTitle"><%= link_to t('forem.admin.forum.index'), forem.admin_forums_path %> </li>
	  <li class="mainTitle"><%= link_to t('forem.admin.category.index'), forem.admin_categories_path %></li>
	  <li class="mainTitle"><%= link_to t('forem.admin.group.index'), forem.admin_groups_path %></li>
	</ul>
	<%= link_to t(:back_to_forums, :scope => 'forem.admin'), forem.root_path, class: "button", style: "clear: both; display: block; float: none; text-align: center; width: 100%;" %> 
</div>
