<div class="mainTitle">News</div>
<div class="profile col-sm-10 col-sm-offset-1">
	<div class="title row">
		<div class="col-xs-12">
			<%= @news.title %>
		</div>
	</div>
	<div id="info" class="row">
		<div id="date" class="col-xs-12">
			<span class="glyphicon glyphicon-time"></span>
			<span><%= @news.created_at.strftime("%B %d, %Y") %></span>
		</div> 
		<div id="author" class="col-xs-12">
			<span class="glyphicon glyphicon-user"></span>
			<span>By <%= @news.member.name %></span>
		</div>
	</div>
	<div class="image row">
		<%= image_tag @news.image.url, style: 'padding-top: 20px; margin: 0 auto; display: block;' unless @news.image.blank? %>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<p class="summary"><%= simple_format @news.body %></p>
		</div>
	</div>
	<%= back_button news_index_path %>
	<%= edit_button 'Edit News', edit_news_path(@news) %>
</div>
