<%= simple_form_for [forem, @forum, @topic], html: { class: 'form-horizontal' } do |f| %>
	<div class="form-group">
		<%= f.label 'Subject', class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
			<%= f.input_field :subject, class: "form-control" %>
		</div>
	</div>

  <%= f.simple_fields_for :posts do |post| %>
    <%= render :partial => "forem/posts/form", :locals => { :f => post }%>
  <% end %>
  
  <%= f.submit :class => "button pull-right" %>
<% end %>
