<div id='forum'>
  <div class="title"><%= link_to t('forem.forum.forums'), forem.root_path %> &raquo; <%= link_to forem_emojify(forum.category), [forem, forum.category] %> &raquo; <%= link_to forem_emojify(forum.title), [forem, forum] %></div>
  <div id='description'><%= forem_format(forum.description) %></div>
  <div id='forum_topic_links' class='btn-group' style="margin: 20px auto;">
    <% unless @topic.try(:new_record?) %>
      <% if can? :create_topic, @forum %>
        <%= link_to t('forem.topic.links.new'), forem.new_forum_topic_path(forum), :class => "button", :id => "new-topic" %>
      <% end %>
    <% end %>
    <% if can? :moderate, @forum %>
      <%= link_to t('forem.forum.moderator_tools'), forem.forum_moderator_tools_path(forum), :class => "button" %>
    <% end %>
  </div>
</div>
