<header>
	<ul id="topNav">
		<li><%= link_to 'History', history_path %></li>
		<li><%= link_to 'News', news_index_path %></li>
		<li><%= link_to 'Donations', donations_path %></li>
		<li><%= link_to 'Contact', contact_path %></li>
	</ul>
	<%= link_to(image_tag('kdlogo.png', id: :logo), root_path) %>
	<ul id="bottomNav">
		<li><%= link_to 'Members Home', members_path %></li>
		<li><%= link_to 'Jobs And Internships', jobs_path %></li>
		<li><%= link_to 'Brother Database', members_path %></li>
		<li><%= link_to 'The KD Room', '#' %></li>
		<li><%= link_to 'The Dagger', '#' %></li>
		<li><%= link_to 'Events', events_path %></li>
		<li><%= link_to 'My Account', '#' %></li>
	</ul>
</header>