<header role="banner">
	<span class="menuToggle"><img src="http://placehold.it/50x50" alt="" ></span>
	<ul class="topNav">
		<li><%= nav_link 'History', history_path %></li>
		<li><%= nav_link 'News', news_index_path %></li>
		<li><%= nav_link 'Donations', donations_path %></li>
		<li><%= nav_link 'Contact', contact_path %></li>
	</ul>
	<%= link_to(image_tag('kdlogo.png', class: :logo), root_path) %>
	<nav class="mainNav" role="navigation">
		<div class="innerNav">
			<%= nav_link 'Members Home', root_path %>
			<%= nav_link 'Jobs And Internships', jobs_path %>
			<%= nav_link 'Brother Database', members_path %>
			<%= nav_link 'The KD Room', '#' %>
			<%= nav_link 'The Dagger', '#' %>
			<%= nav_link 'Events', events_path %>
			<%= nav_link 'My Account', '#' %>
		</div>
	</nav>
	<div class="loginIndicator">
	<% if signed_in? %>
		DEFINITELY SIGNED IN
	<% else  %>
		NOT SIGNED IN
	<% end  %>
	</div> 
</header>