<header role="banner">
	<div class="menuToggle">
	   <span class="glyphicon glyphicon-align-justify">
		<!-- <img src="http://placehold.it/50x50" alt="" > -->
	</div>
	<ul class="topNav">
		<li><%= nav_link 'About', main_app.about_path %></li>
		<li><%= nav_link 'News', main_app.news_index_path %></li>
		<li><%= nav_link 'Charities', main_app.charity_path %></li>
		<li><%= nav_link 'Donations', main_app.new_donation_path %></li>
		<li><%= nav_link 'Contact', main_app.contact_path %></li>
	</ul>
	<%= link_to(image_tag('kdlogo.png', class: :logo), main_app.root_path) %>
	<% # Only display this if user is signed in %>
	<% if signed_in? %>
		<nav class="mainNav" role="navigation">
			<div class="innerNav">
				<%= nav_link 'Members Home', main_app.root_path %>
				<%= nav_link 'Jobs And Internships', main_app.jobs_path %>
				<%= nav_link 'Brother Database', main_app.members_path %>
				<%= nav_link 'The KD Room', main_app.forem_path %>
				<%= nav_link 'The Dagger', main_app.daggers_path %>
				<%= nav_link 'Events', main_app.events_path %>
				<%= nav_link 'My Account', main_app.edit_member_path(current_member) %>
			</div>
		</nav>
	<% end %>
	<div class="loginIndicator">
	<% if signed_in? %>
		<div><%= "WELCOME #{current_member.first_name.upcase}!" %> </div>
		<div class="text-right"><%= link_to 'SIGN OUT', main_app.signout_path, id: 'sessionText', method: :delete %></div>
	<% else  %>
		<%= link_to 'SIGN IN', main_app.signin_path, id: 'sessionText' %>
	<% end  %>
	</div> 
</header>