<div class="mobileNav">
	<%= link_to(image_tag('kdlogo.png', class: :logo), root_path) %>
	<nav role="navigation" style="background: #3c3d3d; min-height: 100%; padding-bottom: 20px;">
		<div class="menuHeading">Menu</div>
		<%= nav_link 'About', main_app.about_path %>
		<%= nav_link 'News', main_app.news_index_path %>
		<%= nav_link 'Charity', main_app.charity_path %>
		<%= nav_link 'Donations', main_app.donations_path %>
		<%= nav_link 'Contact', main_app.contact_path %>
		<% # Only display this if user is signed in %>
		<% if signed_in? %>
			<div class="menuHeading">Members Only</div>
			<%= nav_link 'Members Home', main_app.member_home_path %>
			<%= nav_link 'Jobs And Internships', main_app.jobs_path %>
			<%= nav_link 'Brother Database', main_app.members_path %>
			<%= nav_link 'The KD Room', main_app.forem_path %>
			<%= nav_link 'The Dagger', main_app.daggers_path %>
			<%= nav_link 'Events', main_app.events_path %>
			<div class="menuHeading">My Account</div>
			<%= nav_link 'My Profile', main_app.member_path(current_member) %>
			<%= nav_link 'My Acount', main_app.edit_member_path(current_member) %>
			<%= link_to 'Sign Out', main_app.signout_path, method: :delete %>
		<% else %>
			<%= nav_link 'Sign in ', main_app.signin_path %>
		<% end %>
	</nav>
</div>