<li class="row">
	<a href="<%= member_path(member.id) %>">
		<div class="cell"><%= member.first_name %></div> 
		<div class="cell"><%= member.last_name %></div>
		<div class="cell"><%= member.city %></div>
		<div class="cell"><%= member.industry %></div>
		<div class="cell"><%= member.major %></div>
		<div class="cell"><%= member.class_year %></div>
	</a>
</li>