<ul id="titleList">
	<li class="row">
		<%= form_tag members_path, method: :get, id: :member_search do %>
			<%
				first_name 	= params[:first_name]
				last_name 	= params[:last_name]
				city 		= params[:city]
				industry 	= params[:industry]
				major 		= params[:major]
				class_year 	= params[:class_year]
				#sorting
				direction 	= params[:direction]
				sort_name 	= params[:sort]
			%>
			<%= hidden_field_tag "direction", direction %>
			<%= hidden_field_tag "sort_name", sort_name %>
			<div class="cell"><%= search_column 'First Name', 'first_name', first_name %></div>
			<div class="cell"><%= search_column 'Last Name', 'last_name', last_name %></div>
			<div class="cell"><%= search_column 'City', 'city', city %></div>
			<div class="cell"><%= search_column 'Industry', 'industry', industry %></div>
			<div class="cell"><%= search_column 'Major', 'major', major %></div>
			<div class="cell"><%= search_column 'Class Year', 'class_year', class_year %></div>
		<% end %>
	</li>
</ul>