<% provide(:title, @member.name) %>

<div class="mainTitle">Profile</div>

<div class="profile col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
	<div class="row">
		<div class="col-xs-4">
			<%= image_tag @member.avatar.url(:medium), id: "memberImg" %>
		</div>
		<div id="basicInfo" class="col-xs-8">
			<span class="title">
				<%= @member.name %>
			</span>
			<% if is_admin? %>
				<%= link_to 'Remove User', @member, method: :delete, class: 'remove' %>
			<% end %>
			<% if !@member.headline.nil? %>
				<div id="headline">
					<%= @member.headline %>
				</div>
			<% end %>
				<% if !@member.city.nil? && !@member.state.nil? %>
				<div id="location">			
					<span class="glyphicon glyphicon-map-marker"></span>
					<span><%= "#{@member.address} #{@member.city}, #{@member.state}" %></span> <br />
				</div>
				<% end %>
			<% if !@member.class_year.nil? %>
				<div id="year"> 
					<span class="glyphicon glyphicon-calendar"></span>
					<span><%= "Class Of #{@member.class_year}" %></span>
				</div>
			<% end %>
			<% if !@member.major.nil? %>
				<div id="major"> 
					<span class="glyphicon glyphicon-pencil"></span>
					<span><%= "Major In #{@member.major}" %></span>
				</div>
			<% end %>
		</div>
	</div>

	<ul id="social" class="row" style="padding: 0 15px;">
		<li><%= link_to image_tag('social/fb.png', class: 'socialIcon'), @member.url_facebook, target: '_blank', title: 'Facebook' unless @member.url_facebook.empty? %></li>
		<li><%= link_to image_tag('social/twitter.png', class: 'socialIcon'), @member.url_twitter, target: '_blank', title: 'Twitter' unless @member.url_twitter.empty?%></li>
		<li><%= link_to image_tag('social/li.png', class: 'socialIcon'), @member.url_linkedIn, target: '_blank', title: 'LinkedIn' unless @member.url_linkedIn.empty? %></li>
		<li><%= mail_to @member.email, image_tag('social/email.png', class: 'socialIcon'), title: 'Email' %></li>
	</ul>

	<div id="detailInfo" class="row" style="margin: 12px;">
		<div class="detailTitle">
			<span class="glyphicon glyphicon-align-left"></span>
			<span>Summary</span>
		</div>
		<p><%= @member.summary.empty? ? 'N/A' : @member.summary %></p>
		<p><%= @member.url_resume ||  'Resume N/A'%></p>
	</div>

	<div class="row">
		<%= back_button members_path %>
		<% if current_member == @member || is_admin? %>
			<%= edit_button 'Edit Member', edit_member_path(@member) %>
		<% end %>
	</div>


</div>